In [13]:
import pandas as pd

df = pd.read_html('http://www.chalanachithram.com/discus/messages/115/115.html')

print(type(df))

print(len(df))


print ("Data Frame 4 has list of all posts")
df[4].head(20)

<class 'list'>
8
Data Frame 4 has list of all posts

     0  ...               6
0  NaN  ...             NaN
1  NaN  ...  Thread Starter
2  NaN  ...       Kadapafan
3  NaN  ...        Sasibabu
4  NaN  ...       Pawanfanz
5  NaN  ...        New_user
6  NaN  ...         Vishvak
7  NaN  ...         Hotmail
8  NaN  ...        Dhonifan
9  NaN  ...   Godseyguevara
10 NaN  ...   Godseyguevara
11 NaN  ...          Bitter
12 NaN  ...      Liteteesko
13 NaN  ...         Vishvak
14 NaN  ...           Rudra
15 NaN  ...      Kurrokurru
16 NaN  ...        Djt_2020
17 NaN  ...           Raman
18 NaN  ...           Apple
19 NaN  ...  Bhaaratheeyudu

[20 rows x 7 columns]